.sidebar {
    background-color: #0A5C21;
    color: white;
    width: 250px;
    /* height: 100vh; */
    transition: width 0.3s ease;
    overflow: hidden;
}

.sidebar.collapsed {
    width: 60px;
}

.sidebar-header {
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
    height: 80px;
    display: flex;
    align-items: center;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    transition: background-color 0.2s;
}

.sidebar-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white
}


.sidebar-icon {
    margin-right: 15px;
    font-size: 20px;
    min-width: 25px;
    text-align: center;
}

.sidebar-text {
    white-space: nowrap;
}